@import "./reset.css";
@import "./fonts/Gerbera/stylesheet.css";
@import "./fonts/SofiaPro/stylesheet.css";



body {
    font-size: 16px;
    font-family: 'Gerbera', sans-serif;
}

html,
body {
    font-size: 14px;
    letter-spacing: -0.3px;
}

.container {
    width: 1230px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}


/* header */
.header {
    padding: 32px 0;
}


.header_row {
    display: flex;
    align-items: center;
}


.logo {
    flex-shrink: 0;
}


.nav {
    padding-left: 33px;
    position: relative;
    flex-shrink: 0;
}

.header_rogw .nav {
    margin-left: 32px;
}


.nav::before {
    content: "";
    display: block;
    width: 1px;
    height: 45px;
    background-color: #E9ECEF;

    position: absolute;
    left: 0;
    top: 0;
}

.nav_list {
    display: flex;
    column-gap: 26px;
}


.nav_item {
    color: #818181;
    font-size: 14px;
    line-height: 1.4375;
    flex-shrink: 0;
}


.nav_link {
    color: #818181;
    text-decoration: none;
}


.nav_link.activ,
.nav_link:hover {
    color: black;
}


.header_row .tip {
    margin-right: 32px;
    margin-left: 60px;
}

.tip {
    padding: 12px 20px 12px 16px;
    border-radius: 12px;
    border: 1px solid rgba(39, 150, 83, 0.25);
    background: #F1FCF6;


    display: flex;
    column-gap: 8px;
    font-size: 14px;
    line-height: 1.4375;
    color: #279653;
    max-width: 360px;
}


.search {
    flex-shrink: 0;
}

.header_pic img{
    margin: 0 auto;
    align-items: center;


}

/* end Header */




/* sidebar */

.sidebar {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 40px;
    margin-bottom: 80px;

}

.sidebar_grid {
    display: grid;
    grid-template-columns: 787px 373px;
    gap: 40px;
}





.left_small_title {
    display: flex;
    gap: 24px;
    padding-bottom: 12px;

    color: #279653;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.39px;
    text-transform: uppercase;
}

.left_small_title span {
    color: darkgray;
    padding-left: 20px;
}

.left_small_title p:last-child {
    color: #BE20A5;
}



.left_blog-title {
    color: #0C1B18;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.25;
    padding-bottom: 24px;
}

.left_blog-text p {
    color: #0C1B18;
    font-size: 18px;
    font-weight: 520;
    line-height: 1.5;
    letter-spacing: -0.3px;
}

.left_blog-text img {
    padding: 40px 0;
}


.right_blog-small {
    padding: 3px 0;
    color: #279653;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.right_blog-title {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 40px;

}



.post_horizontal {
    display: flex;
    column-gap: 20px;
}

.post_horizontal__img_link {
    flex-shrink: 0;
}

.post_horizontal_disc {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.post_horizontal_title {
    font-size: 18px;
    line-height: 1.33;
    font-weight: 700;
    padding-bottom: 6px;
}

.post_horizontal_title a {
    color: #000;
}

.post_horizontal_text {
    font-size: 14px;
    color: #000;
    line-height: 1.5;
    font-weight: 400;

    letter-spacing: -0.3px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 6px;

}


.category_hashtag {
    display: inline-block;

    color: #279653;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
}

.category_hashtag::before {
    content: "# ";
}

.post_horizontal_date {
    color: #B9B9B9;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.3px;
}


.right_blog .border {
    border-bottom: 1px solid #E9ECEF;
    margin: 20px 0;
}

/* end sidebar */




/*  похожие статьи */

.news_post {
    margin-top: 40px;
    padding-bottom: 60px;
    background: #F8F9FA;
}

.news_title {
    padding-top: 40px;
    margin-bottom: 40px;
    color: #279653;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.news_text {
    margin-bottom: 40px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;

}

.news_post-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 41px;
    row-gap: 40px;
}

.news_post-card {
    max-width: 373px;
    background: #FFF;
}





.news_post_disc {
    padding: 32px;
}

.news_post_title {
    margin-bottom: 8px;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.27;

}

.news_post_title a {

    color: #000;
}

.news_post_text {
    color: #818181;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
    margin-bottom: 8px;
}


.news_category_hashtag {
    display: inline-block;

    color: #279653;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}

.news_category_hashtag::before {
    content: "# ";
}

.news_post_date {
    margin-top: 12px;
    color: #B9B9B9;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.3px;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* end */




/* post contacts */


.post_contacts {
    padding-top: 40px;
    padding-bottom: 80px;
    background: #F8F9FA;
}


.post_contacts-grid {
    display: flex;
    padding: 32px 48px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #FFF;
}

.post_contacts-card {
    max-width: 483px;
    height: auto;
}

.post_contacts-card .post_cont-text {
    color: #333D37;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.33;
}

.post_contacts-card a:nth-child(3n) {
    color: #22A75B;
}

.contact_signup {
    display: flex;
    align-items: center;
    gap: 48px;
}

.post_mail {
    flex-shrink: 0;
}

.post_mail .mail {
    width: 100%;
    color: rgb(85, 85, 85);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(158, 161, 160, 0.3);
    margin-bottom: 8px;
}

.post_mail input::-webkit-input-placeholder {
    color: rgba(51, 61, 55, 0.30);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.post_mail form span,
a {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.post_mail form a {
    color: #219653;
}

input:checked+label:before {
    color: #FFF;
    background: #219653;
}





.contact_signup .post_button {
    width: 150px;
    height: 44px;
    flex-shrink: 0;
    padding: 7px 0;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 8px 40px 0px rgba(33, 150, 83, 0.40);
    transition: transform 0.2s ease-in;
}



.post_button a {
    color: #333D37;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.2px;
    padding: 10px;
    transition: all 0.2s ease-in;
}

.post_button a:hover {
    color: rgb(238, 114, 114);
    font-size: 19px;
}

/* end */




/* footer css */

.footer {
    background: #333D37;
}


.footer_contacts {
    padding: 80px 120px;
}

.footer_contacts-grid {
    display: flex;
    align-items: flex-start;
    gap: 200px;
}

.footer_contacts-card a {
    color: #B9B9B9;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    text-decoration-line: underline;
}

.footer_contacts-card a:hover {
    color: #FFF;
}

.footer_contacts-card {
    flex-shrink: 0;
}

.footer_contacts-grid .contacts-3 p {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin-top: 16px;

}

.footer_contacts-grid .contacts-1 {
    display: flex;
    gap: 23px;
}



.footer_contacts-title {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.22;
}

.footer_contacts-text {
    color: #B9B9B9;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.footer_contacts-text .active {
    color: #FFF;
}

.footer_contacts-mail a {
    text-decoration: underline;
    color: #B9B9B9;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.footer_contacts-mail a:hover {
    color: #FFF;
}

.footer_contacts-mail {
    margin-top: 18px;

}

.footer .contacts-1 img {
    width: 36px;
    height: 36px;
    transition: all 0.2s ease-in;
}

.footer .contacts-1 img:hover {
    width: 40px;
    height: 40px;
}




.copyright {
    margin-top: 48px;
}

.border_top {
    border-top: 0.8px solid #474747;
}

.display_card {
    padding: 20px 0;
    display: flex;
    max-width: 774px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    gap: 32px;

}

.display_card p {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.display_card a {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
}

/* end */